.total{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container{
    width: 50em;
    height: 35em;
    margin: 1em;
    background-color: orangered;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.first{
    position: relative;
    width: 45em;
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
} 
.imagen {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    object-fit: cover;
    border: 0.2em solid black;
    box-shadow: 2px 2px 5px #999;
}
.second{
    position: relative;
    width: 45em;
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
} 
.third{
    position: relative;
    width: 45em;
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
} 

.carrito{
    position: relative;
    width: 20em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;

} 
.contador{
    width: 21em;
    height: 12em;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imagen1 { 
     height: 10em;
    width: 10em;
    /* max-width: 100px;
    max-height: 100px; */
margin: 10px; */
     object-fit: cover; */
     border: 0.2em solid black; */
     box-shadow: 2px 2px 5px #999; */
}  

.pum { 
     width: 21em;
    height: 12em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    padding: 1em;
    /* background-color: blueviolet; */

 }
.button{
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: aqua; */
    /* border-right: 3px; */
    /* border-style: solid; */
    /* border-radius: 35px; */
} 

.imagenDisplay{
    height: 10em;
    border: 0.2em solid black;
}
.container1{
    width: 40em;
    height: 35em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carrito{
    height: 20em;
    width: 15em;
}
.carritoActual{
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.totalPrice{
    height: 30em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictures{
    height: 10em;
}
.contenedorItem{
    width: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
}