.total {
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container {
    width: 65em;
    height: 55em;
    margin: 1em;
    background-color: #8a4807;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first {
    position: relative;
    width: 55em;
    height: 30em;
    margin: 2em;
   margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: ç;
    background-color: white;
    border: 20px inset 	#CD853F;
}

.imagen {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    object-fit: cover;
}

.second {
    position: relative;
    width: 55em;
    height: 32em;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 20px inset 	#CD853F;
}

.third {
    position: relative;
    width: 55em;
    height: 35em;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 20px inset #CD853F;
}

.imagenDisplay {
    max-width: 100%;
    height: 10em;
}

.container1 {
    width: 45em;
    height: 55em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.carritoActual {
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalPrice {
    height: 3em;
    width: 3em;
    margin: 2em;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pictures {
    height: 20em;
    margin-top: 15em;
}

.contenedorItem {
    width: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}

.contenedor2 {
    position: relative;
    background-color: blue;
    width: 3em;
    height: 3em;
}


.boton {
    height: 2.5em;
    width: 8em;
    background-color: #8B4513;
    color: white;
    font-weight: bold;
    border-radius: 1em;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.boton:hover {

    transition: 0.3s;
    background-color: #CD853F;
}

